<!doctype html>
{% load crispy_forms_tags %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>ToDo App | Django</title>
  </head>
<script>
if ( window.history.replaceState ) {
 window.history.replaceState( null, null, window.location.href );
}
</script>
  <body onload="TimeStart()">
<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header bg-info">
            <h3 class="d-inline-block">Todo List</h3><button type="button" class="btn btn-primary d-inline-block" id="add" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i></button>
          </div>
 
          <div class="card-body">
            {% for todo in todos %}
       
            <div class="todos">
              <div class="container">
                <div class="row">
                  <div class="col-sm-9">
                    <ul class="list-group">

                      <li class="list-group-item {{todo.priority}} mt-3" id="todo">
                        <h5>{{todo.title}}</h5>
                        <h6>{{todo.text}}</h6>
                      </li>

                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <div class="content">
                    <div class="m-2">
                      <a href="{% url 'todo:done' todo.id %}">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i></button>
                        </a>                
                    </div>
                    <div class="m-2">
                      <a href="{% url 'todo:update' todo.id %}">
                      <button type="button" class="btn btn-success"
                      data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-redo-alt"></i></button>
                      </a>
                    </div>
                    <div class="m-2">
                      <a href="{% url 'todo:delete' todo.id %}">
                      <button type="button" class="btn btn-warning"><i class="fas fa-trash"></i></button>
                      </a>
                    </div>
                    </div>
                    <p>{{todo.date}}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
              
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Current time</h3>
        <div class="time"></div>
        <br>
        <a href="https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*https://yandex.uz/pogoda/10335" target="_blank"><img src="https://info.weather.yandex.net/10335/2_white.ru.png?domain=uz" border="0" alt="Яндекс.Погода"/><img width="1" height="1" src="https://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*https://img.yandex.ru/i/pix.gif" alt="" border="0"/></a>
        <div class="clearfix"></div>
        <div class="card mt-3">
          <div class="card-header">
              <h4> Done Todos</h4>
          </div>
          <ul class="list-group">
            {% for todo in doned_todos %}
            {% if todo.done %}
                
            <li class="list-group-item list-group-item-success ">
               <span class="font-italic">{{todo.title}}</span>
             <a href="{% url 'todo:delete' todo.id %}" class="done_delete">
                <button type="button" class="btn btn-warning"><i class="fas fa-trash"></i></button>
                </a>
            </li>
            
            {% endif %}
            {% endfor %}
          
          </ul>
        </div>  
      </div>
    </div>
  </div>
</section>


<script>
  
let clock;

function DisplayTime() { 
  let d = new Date(); 
  let h = d.getHours();
  let m = d.getMinutes(); 
  let s = d.getSeconds();
  let injectTime = `
    <span>${h}</span>
    <span>${m}</span>
    <span>${s}</span>
  `
  document.querySelector(".time").innerHTML = injectTime; 
}

function TimeStart(){
  clock = setInterval("DisplayTime();",1000)
}
function TimeStop(){
  clock = clearInterval(clock)
}
</script>

<style>
  .time{
  margin: 25px 0;
  font-size: 20px;
  font-family: sans-serif;
}
.time span{
  padding: 10px;
  border-radius: 5px;
  background-color: #888;
  color:white;
}
.content{
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
}
#add{
  float: right;
}
.done_delete{
  float: right;
}
</style>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Todo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="POST">
      <div class="modal-body">
            
              {{addform|crispy}}
              {% csrf_token %}
              
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>